/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
  font-display: fallback;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
  font-display: fallback;
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
  font-display: fallback;
}
*/

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.hidden {
    display: none;
}

.glassmophism {
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.8);
}

/* the same with .ol-control button */
/*
.ol-button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,0.5);
    border: none;
    border-radius: 2px;
}
*/

/* Remove input[type=number] Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
#setting-layers input::-webkit-outer-spin-button,
#setting-layers input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#setting-layers input[type=number] {
  -moz-appearance:textfield;
  appearance:textfield;
}

/*============ Settings Board ==================*/

.settings {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 85%;
    z-index: 9;
    background: #f8f8f8;
    border-left: solid 1px #f0f0f0;
}

.settings-ctrl.ol-control {
    /*float: right;*/
    /* .ol-control using absolute position */
    position: absolute;
    top: .5em;
    right: .5em;
}

.settings.collapsed .settings-main{
    display: none;
}

.settings-main {
    padding: .5em;
    min-width: 250px;
    height: 100vh;
    /*overflow-y: auto;*/
    box-sizing: border-box;
}

.ly-placeholder {
    display: inline-block;
    width: calc(100% - 3px);
    height: 1.5em;
    border: 2px dotted gray;
    /*background: gray;*/
}
/*
.ly-hover {
    background: #d0d0d0;
    cursor: grab;
}
*/

/*
#setting-layers:hover{
    overflow-y: scroll;
    padding-right: 0;
}
*/
#setting-layers{
    height: calc(100% - 2em);
    box-sizing: border-box;
    overflow-y: auto;
    /*padding-right: 17px; *//* width of scrollbar in Chrome, Firefox*/
}
/*
@supports (-ms-ime-align:auto) {
    #setting-layers{
        padding-right: 15px; /* width of scrollbar in Edge
    }
}
*/

#setting-layers ul{
    padding: 0;
    margin: 4px 2px 4px 0;
    list-style-type: none;
}
#setting-layers ul:not(:last-child){
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.5em;
}

#setting-layers li:hover{
    background: #e8e8e8;
    cursor: grab;
}
#setting-layers li .ly-opt-checked:checked ~ *{
    color: #202020;
}
#setting-layers li .ly-opt-checked ~ *{
    color: #808080;
}

#setting-layers li .ly-opt-seeable.filtered .seeable-icon-normal,
#setting-layers li .ly-opt-seeable:not(.filtered) .seeable-icon-filtered {
    display: none;
}

#setting-layers li .ly-body {
    display: inline-block;
    min-width: 15.5em;
}

#setting-layers li button.ly-ctrl {
    font-size: smaller;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: lightgrey;
}
#setting-layers li:not(:hover) button.ly-ctrl:not(.enabled) {
    visibility: hidden;
}
#setting-layers li button.ly-ctrl:hover {
    color: cornflowerblue;
    cursor: pointer;
}
#setting-layers li button.ly-ctrl.enabled {
    color: steelblue;
}

#setting-layers li .ly-opt-opacity{
    transform: scale(1.2) translate(4px, -1px);
    text-align: right;
    margin-right: 3px;
    width: 28px;
    border: none;
    background-color: transparent;
}
#setting-layers li .ly-opt-opacity:hover{
    background-color: white;
}
#setting-layers li .ly-opt-opacity+i{
    transform: scale(0.8);
}

/*------------ Layer / SeeFilter -----------------*/

.filter-panel{
    position: absolute;  /* use absolute since it is under the ol-control */
    min-width: 10em;
    padding: 6px;
    border-radius: 0 4px 8px 8px;
    margin-top: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: solid 1px #d0d0d0;
}

.filter-panel,
.filter-panel .filter-row input{
    background-color: #e8e8e8;
}

.filter-panel .tabcontent {
    border-width: 0;
}

.filter-panel input:checked + label{
    color: #404040;
}
.filter-panel input:not(:checked) + label{
    color: #808080;
}

.filter-panel .filter-row {
    white-space: nowrap;
}

.filter-panel .filter-row label{
    display: inline-block;
    width: 3em;
}
.filter-panel .filter-row input{
    border-width: 0;
    border-bottom: 1px dashed lightgray;
    padding: 0px 4px;
    color: #404040;
}

.filter-panel .filter-row input:focus-visible{
    outline: 0;
    background-color: #fcfcfc;
}

.filter-panel .filter-row button {
    display: inline;
    cursor: pointer;
    font-size: 10px;
    vertical-align: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-panel .filter-row button.active {
    background: powderblue;
    border: solid 1px lightskyblue;
}

.filter-panel .footer{
    background: rgba(128,128,128,.1);
    padding: 2px 0;
    margin-top: 2px;
    border-radius: 0 0 6px 6px;
}

.filter-panel .footer {
    text-align: right;
    margin-right: 6px;
}

/*----------------------------------------------------------------*/
#setting-opts button:hover{
    cursor: pointer;
}

#setting-opts .opt-group {
    border-width: 1px 0 0 0;
    margin-top: 8px;
}

#setting-opts legend {
    font-weight: bold;
}

#setting-opts ul.opt-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold;*/
}

#setting-opts ul.opt-item li{
    margin-left: 1em;
    font-weight: normal;
}

#setting-opts ul.opt-item:not(:last-child){
    margin-bottom: 4px;
}

/*********************************************************
/* Toolbar
/********************************************************/

.toolbar{
    position: relative;
    z-index: 7;   /* prvent being covered by the map */
}

.toolbar .ctrl-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.toolbar .ctrl-btn.enabled {
    color: steelblue
}

.toolbar .ctrl-btn:not(.enabled){
    /*background: rgba(64, 64, 64, .5);*/
    /*color: lightgray;*/
}

/*============ Sidebar ==================*/

.toolbar-side{
    left: .5em;
    top: 18em;
}

/*============ Topbar =================*/
.toolbar-top{
    left: 3em;
    top: .5em;
}

.toolbar-top .ol-control:nth-child(2) { left: 2em; }
/*
.toolbar-top .ol-control:nth-child(3) { left: 4em; }
.toolbar-top .ol-control:nth-child(4) { left: 6em; }
.toolbar-top .ol-control:nth-child(5) { left: 8em; }
*/

/*------------ Topbar / Goto -------------------*/

.toolbar-top .goto-panel{
    display: inline-block;
}

.toolbar-top .ctrl-btn-goto:not(.active) ~ .goto-panel{
    display: none;
}

.toolbar-top .goto-panel .goto-coordsys {
    text-align: center;
    font-size: 95%;
    outline: 0;
    border: 0px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 3px 4px 2px 4px;;
    vertical-align: 0px;
    margin: 0;
}
.toolbar-top .goto-panel .goto-coordsys:hover {
    cursor: pointer;
}

/* not show "Go" button when "findspot" is selected, since it is triggered by clicking the spot in the list */
.toolbar-top .goto-panel .goto-coordsys:has(option[value="findspot"]:checked) ~ .goto-coord-go {
    display: none;
}

.toolbar-top .goto-panel .goto-txt{
    text-align: left;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    outline: 0;
    vertical-align: 1px;
    padding: 2px 8px 2px 8px;
    width: 7em;
}

.toolbar-top .goto-panel .goto-txt.invalid {
    background-color: #ffa0a0;
}

.toolbar-top .goto-panel .goto-txt::placeholder{
    color: #b0b0b0;
    font-size: smaller;
}

/* input text is empty, then hides aux button */
.toolbar-top .goto-panel .goto-txt:placeholder-shown + .goto-aux button{
    display: none;
}

.toolbar-top .goto-panel .goto-aux {
    position: absolute;
    top: 2px;
    right: 4px;
}

.toolbar-top .goto-panel .goto-aux button{
    cursor: pointer;
    color: white;
    background: #666;
    display: inline;
    width: 3.5em;
    font-size: 12px;
    font-weight: 300;
    padding: 0 4px;
    border: dotted 1px #ddd;
    border-radius: 10px;
}

/*
.toolbar-top .goto-panel .goto-coord-go:hover {
    cursor: pointer;
}
.toolbar-top .goto-panel .goto-coord-go {
    margin-left: 0px;
    border-radius: 16px;
    position: absolute;   /* use 'absolute', which help ol-control to fit its width *//*
    right: -6px;
    top: -1px;
    border: solid 1px lightgray;
    padding: 0px;
    font-size: 17px;
}

.toolbar-top .goto-panel .goto-coord-go svg{
    font-size: 12px;
}
*/

/*------------- Topbar / Goto / Spots ----------------*/
.goto-panel .goto-spot-list {
    list-style: none;
    padding: 0;
    margin: 1px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: rgba(255, 255, 255, .6);
    overflow: auto;
    max-height: 90vh;
}
.goto-panel .goto-spot-list:not(.active) {
    display: none;
}
.goto-panel .goto-spot-item {
    padding: 6px 12px 6px 6px;  /* padding more in right for scrollbar */
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
}

.goto-panel .goto-spot-item:hover {
    background-color: #f0f7ff;
}
.goto-panel .goto-spot-item:last-child {
    border-bottom: none;
}

.goto-panel .goto-spot-name {
    font-weight: bold;
    color: #333;
}
.goto-panel .goto-spot-info{
    float: right;
    font-size: 0.9em;
    color: #666;
}

.goto-panel .goto-spot-info span{
    display: inline-block;
}

.goto-panel .goto-spot-info-ele{
    min-width: 5.5em;
}
.goto-panel .goto-spot-info-dist{
    min-width: 6.5em;
}
.goto-panel .goto-spot-info-dir{
    min-width: 1em;
}

.goto-panel button.goto-spot-more {
    width: 100%;
    padding: 10px;
    background: #eee;
    border: none;
    cursor: pointer;
    margin-top: 1px;
}
.goto-panel button.goto-spot-more:hover {
    background: #ddd;
}
.goto-panel button.goto-spot-more:not(.active) {
    display: none;
}

/*============= Toolbar Bottom ======================*/

.toolbar-bottom{
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

/* --------- details: animation -------------*/

:root { interpolate-size: allow-keywords; }

/* 針對 details 內容進行動畫設定 */
details::details-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      height 0.3s ease,
      opacity 0.3s ease,
      content-visibility 0.3s ease allow-discrete; /* 關鍵：讓收合動畫播放完才真正隱藏 */
}

/* 展開狀態的樣式 */
details[open]::details-content {
    height: auto;
    opacity: 1;
}

/* --------- summary: text and align -------------*/
.toolbar-bottom details summary{
    text-align: center;
    align-items: center;
    list-style-position: inside; /* Keeps the arrow next to the centered text */
    list-style: none;
    /*cursor: pointer;*/
    pointer-events: none;
}

/* only children of summary can trigger the details content */
.toolbar-bottom details summary * {
    cursor: pointer;
    pointer-events: auto;
}

/* --------- control button --------*/

/*
.toolbar-bottom details summary::before{
    content: "\f1fe";
    font: var(--fa-font-solid);
}
*/

.toolbar-bottom details summary svg[class*="fa-"] {
    color: #666666;
    background: rgba(255,255,255,.5);
    padding: 2px 2px;
    vertical-align: middle;  /* erase the gap between summary and details-content */
    border-radius: 4px 4px 0 0;
    border-style: double;
    border-width: 4px 1px 0 1px;   /* adjust border in left and right side */
    border-color: lightgray;
}

.toolbar-bottom details[open] summary svg[class*="fa-"] {
    color: steelblue;
}

/*
.corner-protude-right-bottom::before,
.corner-protude-left-bottom::before {
    content: '\00a0';
}
.corner-protude-right-bottom,
.corner-protude-left-bottom {
    padding: 0 0 5px 0;
    border-color: lightgray;
    border-style: solid;
}
.corner-protude-left-bottom {
    border-width: 0 1px 0 0;
    border-radius: 0 0 8px 0;
}
.corner-protude-right-bottom {
    border-width: 0 0 0 1px;
    border-radius: 0 0 0 8px;
}
*/

/* --------- canvas -------------*/
.toolbar-bottom details.ele-profile canvas{
    /*background: rgba(255, 232, 232, .7);*/
    border: solid 1px #d0d0d0;
    border-radius: 8px;
    z-index: 7;
    box-sizing: border-box;
}

/*============= Map ======================*/

.ol-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.ol-overviewmap
.ol-overviewmap-map{
    width: 25vw;
    height: 25vh;
}

.ol-scale-bar,
.ol-scale-line {
    left: calc(100% - 8px);
    transform: translateX(-100%);
}

.save-cookie {
    top: 284px;
    left: .5em;
}

.ol-touch .save-cookie {
    top: 80px;
}
