/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
  font-display: fallback;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
  font-display: fallback;
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
  font-display: fallback;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.hidden {
    display: none;
}

.glassmophism {
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.8);
}

/* the same with .ol-control button */
/*
.ol-button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,0.5);
    border: none;
    border-radius: 2px;
}
*/

/* Remove input[type=number] Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
#setting-layers input::-webkit-outer-spin-button,
#setting-layers input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#setting-layers input[type=number] {
  -moz-appearance:textfield;
}

/*============ Settings Board ==================*/

.settings {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 85%;
    z-index: 9;
    background: #f8f8f8;
    border-left: solid 1px #f0f0f0;
}

.settings-ctrl.ol-control {
    /*float: right;*/
    /* .ol-control using absolute position */
    position: absolute;
    top: .5em;
    right: .5em;
}

.settings.collapsed .settings-main{
    display: none;
}

.settings-main {
    padding: .5em;
    min-width: 250px;
    height: 100vh;
    /*overflow-y: auto;*/
    box-sizing: border-box;
}

.ly-placeholder {
    display: inline-block;
    width: calc(100% - 3px);
    height: 1.5em;
    border: 2px dotted gray;
    /*background: gray;*/
}
/*
.ly-hover {
    background: #d0d0d0;
    cursor: grab;
}
*/

/*
#setting-layers:hover{
    overflow-y: scroll;
    padding-right: 0;
}
*/
#setting-layers{
    height: calc(100% - 2em);
    box-sizing: border-box;
    overflow-y: auto;
    /*padding-right: 17px; *//* width of scrollbar in Chrome, Firefox*/
}
/*
@supports (-ms-ime-align:auto) {
    #setting-layers{
        padding-right: 15px; /* width of scrollbar in Edge
    }
}
*/

#setting-layers ul{
    padding: 0;
    margin: 4px 2px 4px 0;
    list-style-type: none;
}
#setting-layers ul:not(:last-child){
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.5em;
}

#setting-layers li:hover{
    background: #e8e8e8;
    cursor: grab;
}
#setting-layers li .ly-opt-checked:checked ~ *{
    color: #202020;
}
#setting-layers li .ly-opt-checked ~ *{
    color: #808080;
}

#setting-layers li .ly-body {
    display: inline-block;
    min-width: 15.5em;
}

#setting-layers li button.ly-ctrl {
    font-size: smaller;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: lightgrey;
}
#setting-layers li:not(:hover) button.ly-ctrl:not(.enabled) {
    visibility: hidden;
}
#setting-layers li button.ly-ctrl:hover {
    color: cornflowerblue;
    cursor: pointer;
}
#setting-layers li button.ly-ctrl.enabled {
    color: steelblue;
}

#setting-layers li .ly-opt-opacity{
    transform: scale(1.2) translate(4px, -1px);
    text-align: right;
    margin-right: 3px;
    width: 28px;
    border: none;
    background-color: transparent;
}
#setting-layers li .ly-opt-opacity:hover{
    background-color: white;
}
#setting-layers li .ly-opt-opacity+i{
    transform: scale(0.8);
}

/*----------------------------------------------------------------*/
#setting-opts button:hover{
    cursor: pointer;
}

#setting-opts .opt-group {
    border-width: 1px 0 0 0;
    margin-top: 8px;
}

#setting-opts legend {
    font-weight: bold;
}

#setting-opts ul.opt-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold;*/
}

#setting-opts ul.opt-item li{
    margin-left: 1em;
    font-weight: normal;
}

#setting-opts ul.opt-item:not(:last-child){
    margin-bottom: 4px;
}

/*********************************************************
/* Toolbar
/********************************************************/

.toolbar{
    position: relative;
    z-index: 9;   /* prvent being covered by the map */
}

.toolbar .ctrl-btn {
    display: inline-block;
}

.toolbar .ctrl-btn.enabled {
    color: steelblue
}

.toolbar .ctrl-btn:not(.enabled){
    /*background: rgba(64, 64, 64, .5);*/
    /*color: lightgray;*/
}

/*============ Sidebar ==================*/

.toolbar-side{
    left: .5em;
    top: 18em;
}

/*============ Topbar =================*/
.toolbar-top{
    left: 3em;
    top: .5em;
}

.toolbar-top .ol-control:nth-child(2) { left: 2em; }
.toolbar-top .ol-control:nth-child(3) { left: 4em; }
.toolbar-top .ol-control:nth-child(4) { left: 6em; }
.toolbar-top .ol-control:nth-child(5) { left: 8em; }


/*------------ Topbar / Filter -----------------*/

.toolbar-top .ctrl-btn-filter:not(.active) ~ .filter-panel{
    display: none;
}

.filter-panel{
    position: absolute;  /* use absolute since it is under the ol-control */
    min-width: 10em;
    padding: 6px;
    border-radius: 0 4px 8px 8px;
    margin-top: 1px;
}

.filter-panel .tabcontent {
    border-width: 0;
}

.filter-panel input:checked + label{
    color: #404040;
}
.filter-panel input:not(:checked) + label{
    color: #808080;
}

.filter-panel .filter-row {
    white-space: nowrap;
}

.filter-panel .filter-row label{
    display: inline-block;
    width: 3em;
}
.filter-panel .filter-row input{
    border-width: 0;
    border-bottom: 1px dashed lightgray;
    padding: 0px 4px;
    color: #404040;
}

.filter-panel .filter-row input:focus-visible{
    outline: 0;
    background-color: #f8f8f8;
}

.filter-panel .filter-row button {
    display: inline;
    font-size: 10px;
    vertical-align: 1px;
}

.filter-panel .filter-row button.active {
    background: powderblue;
    border: solid 1px lightskyblue;
}

.filter-panel .footer{
    background: rgba(128,128,128,.1);
    padding: 2px 0;
    margin-top: 2px;
    border-radius: 0 0 6px 6px;
}

.filter-panel .footer .filter-force{
    text-align: right;
    margin-right: 6px;
}

/*------------ Topbar / Goto -------------------*/

.toolbar-top .ctrl-btn-goto:not(.active) ~ .goto-panel{
    display: none;
}

.toolbar-top .goto-panel .goto-coordsys {
    text-align: center;
    font-size: 95%;
    outline: 0;
    border: 0px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 3px 4px 2px 4px;;
    vertical-align: 0px;
    margin: 0 -4px;
}
.toolbar-top .goto-panel .goto-coordsys:hover {
    cursor: pointer;
}

.toolbar-top .goto-panel .goto-coord-txt{
    text-align: left;
    font-size: 16px;
    border: none;
    border-radius: 0 16px 16px 0;
    outline: 0;
    vertical-align: 1px;
    padding: 2px 8px 2px 8px;
    width: 7em;
}

.toolbar-top .goto-panel .goto-coord-txt.invalid {
    background-color: #ffa0a0;
}

.toolbar-top .goto-panel .goto-coord-txt::placeholder{
    color: #b0b0b0;
    font-size: smaller;
}

.toolbar-top .goto-panel .goto-coord-go:hover {
    cursor: pointer;
}
.toolbar-top .goto-panel .goto-coord-go {
    margin-left: 0px;
    border-radius: 16px;
    position: absolute;   /* use 'absolute', which help ol-control to fit its width */
    right: -6px;
    top: -1px;
    border: solid 1px lightgray;
    padding: 0px;
    font-size: 17px;
}

.toolbar-top .goto-panel .goto-coord-go svg{
    font-size: 12px;
}

/*============= Map ======================*/

.ol-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.ol-overviewmap
.ol-overviewmap-map{
    width: 25vw;
    height: 25vh;
}

.ol-scale-line {
    left: calc(50% - 50px);
}

.save-cookie {
    top: 284px;
    left: .5em;
}

.ol-touch .save-cookie {
    top: 80px;
}
