html, body {
    margin: 0;
    height: 100%;
}

.ol-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.ol-scale-line {
    left: 50%;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 265px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    display: none;
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.pt-name {
    font-weight: bold;
}

.pt-coord{
    color: gray;
    margin: 2px 0;
}

select, option {
    -webkit-appearance: none; /* WebKit/Chromium */
    -moz-appearance: none; /* Gecko */
}
  /* Internet Explorer 10–11 and Edge */
select::-ms-expand {
    display: none;
}

.pt-coord-title{
    display: inline-block;
    width: 60px;
    text-align: right;
    border: 0px;
    color: gray;
    font-weight: 500;
    font-size: 95%;
}

.pt-coord-val{
    font-size: 90%;
    display: none;
}

.pt-coord-val-active{
    display: inline;
}

.pt-gmap img {
    width: 12px;
    height: 12px;
    border: 0;
}

.pt-ele{
    color: gray;
    font-size: 90%;
    margin: 2px 0;
}

.pt-ele-title {
    text-align: right;
    width: 60px;
    font-weight: 500;
    display: inline-block;
}

.sym-license {
    color: gray;
    font-size: x-small;
}
.sym-license a:link{
    color: gray;
}
.sym-license a:visited{
    color: gray;
}